# Datenbank-Konfiguration für Docker & Prisma
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_ROOT_PASSWORD=

# Prisma Connection String
DATABASE_URL="mysql://db_user:db_password@localhost:db_port/db_name"

# Orga-API
ORGA_API_BASE_URL=
ORGA_API_KEY=

# App-Settings
NEXTAUTH_URL=
NEXTAUTH_SECRET=
CRON_SECRET=
VALID_ORGA_ID=
MAX_ATTEMPTS=